.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
}

.login img {
    width: 50%;
    height: 70%;
}

.login .form {
    border: #dddddd solid 1px;
    border-radius: 20px;
    padding: 3vh 3%;
    color: #3C30FF;
    background-color: #d4b4f3;
    box-shadow: 0px 0px 12px 4px #dddddd;
}

.login .form h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2vh;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form label {
    padding: 5px;
    font-size: 2rem;
    font-weight: 400;
}

.form input {
    width: 20vw;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 1vh;
}

.form input[name="submit"] {
    margin: 2vh auto;
    width: 20vw;
    background-color: #3C30FF;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.account-login {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.account-login a {
    text-decoration: none;
    color: #3C30FF;
}

.account-login a:hover {
    text-decoration: underline;
}